.places {
    font-family: 'Inter', Arial, sans-serif;
    width: 76.86%;
    margin: auto;
    padding-top: 92px;
    padding-bottom: 92px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: 93.75%;
        padding-top: 88px;
        padding-bottom: 90px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        padding-top: 64px;
        padding-bottom: 66px;
        row-gap: 50px;
    }
}