.footer__list {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    column-gap: 19px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__list {
        grid-template-columns: max-content;
        row-gap: 32px;
        margin-bottom: 48px;
    }
}